{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'assets/css/forgot_password.css' %}">
  <title>EduExam - Forgot Password</title>
</head>
<body>
  <div class="box">
    
    <!-- Icon -->
    <div class="icon-circle">
      <span class="material-symbols-outlined">lock_reset</span>
    </div>
    <h2>Forgot Password?</h2>
    <p class="subtitle">Enter your registered email address.<br>We'll send you a 6-digit OTP to reset your password</p>

    <!-- Steps -->
    <div class="steps">
      <div class="step done">
        <div class="step-circle active">1</div>
        <div class="step-label">Email</div>
      </div>
      <div class="step-line"></div>
      <div class="step pending">          
        <div class="step-circle pending">2</div>
        <div class="step-label">Verify OTP</div>
      </div>
      <div class="step-line"></div>
      <div class="step pending">
        <div class="step-circle pending">3</div>
        <div class="step-label">New Password</div>
      </div>
    </div>
    <!-- Messages -->
    {% for message in messages %}
    <div class="msg {{ message.tags }}">
      <span class="material-symbols-outlined" style="font-size: 18px;">
        {% if message.tags == "error" %}error{% else %}check_circle{% endif %}
      </span>
      {{ message }}
    </div>
    {% endfor %}

    <!-- Form -->
    <form method="POST" action="{% url 'forgot_password' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email Address</label>
        <div class="input-wrap">
          <span class="material-symbols-outlined">mail</span>
          <input type="email" id="email" name="email" placeholder="Enter your registered email" required autofocus />
        </div>
      </div>
      <button type="submit" class="btn-submit">
        <span class="material-symbols-outlined" style="font-size: 18px;">send</span>
        Send OTP
      </button>
    </form>

    <a href="{% url 'auth_page' role='student' %}" class="back-link">
      <span class="material-symbols-outlined">arrow_back</span>Back to Login
    </a>
  </div>

</body>
</html>